
<%= stylesheet_link_tag "search" %>

<% if current_page?(:controller => 'home', :action => 'index')%>
    <div id="space-main" class="text-center">
    <img src="https://pnggrid.com/wp-content/uploads/2022/03/Github-Logo-White.png" 
    style="width:400px"/>  
    <div>
  <% else %>
    <div class="space-search"><div>
  <% end %>
<div class="container text-center" >
   

  <div class="row mt-15">
    
    <h1><%= link_to "Git Hub Search API", root_path, class: "text-decoration-none text-light"%></h1>

    <div class="input-group justify-content-center">

    <%= form_tag '/search', data: { turbo: false } do %>
      <div class="input-group">
        <%= text_field_tag :languages, params[:languages], {class: "form-control"} %>
        <%= submit_tag 'Search', class: "btn btn-primary" %>
      </div>
    <% end %>
    </div>

  <% if current_page?(:controller => 'favorites', :action => 'index')%>
   
  <% else %>
     <%= link_to "Favorites", favorites_path, class:"text-decoration-none text-secondary"%>
  <% end %>
    <br>
  </div>
</div>