<div class="container">

<% if @repositories == false %>
  <div class="text-light text-center">
    <h1>No results found</h1>
    <h2>You should try searching for one of these languages:
        <br>
        Ruby, Java, Python, C++ or Rust
    </h2>
 
  </div>
<% else %>
<h3>Results</h3>

    <% @repositories["items"].map do |k, v| %>
        <div class="card">
            <div class="card-body">
            <h2><%= k["name"].capitalize %></h2><br>
            <span class="text-muted">Author: </span>
            <span class=""><%= k["owner"]["login"] %></span><br>
            <span class="text-muted">Created at: </span>
            <span class=""><%= k["created_at"] %></span><br>
            <span class="text-muted">Stars: </span>
            <span class=""><%= k["stargazers_count"] %></span><br>

            <%= link_to "See more...", 
            home_show_path(
            :owner => k["owner"]["login"],
            :repository_name => k["name"]), class:"text-info text-decoration-none" %>
            <br>
            </div>
        </div>
        <br>
    <% end %>
<% end %>
</div>